body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: #333;
}

header {
    background: #ffffff;
    text-align: center;
    padding: 25px;
}

header h1 {
    color: #0072ff;
    margin: 0;
}

nav {
    background: #ff9800;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

section {
    background: white;
    margin: 30px auto;
    padding: 30px;
    width: 80%;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

h2 {
    color: #ff5722;
}

ul li {
    margin: 10px 0;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

.gambar-utama {
    width: 80%;
    height: 320px;
    object-fit: cover;
    display: block;
}



